*{
    margin:0px;
    padding:0px;
}
/*standard text formatting*/
h1{
    font: bold 20px Tahoma;    
}
h2{
    font: bold 14px Tahoma;
}
#indexText{

    font:normal 20px Tahoma;
    /*    font-size:20px;*/
}
#Over_mij{
    color:black;
    text-decoration: none;

}

header, section, footer, aside, nav, article, hgroup{
    display:block;
}
body{
    width:100%;
    display: -webkit-box;
    -webkit-box-pack: center;
    background: #F0F8FF;
    /* Voor 2 achtergrondplaatjes rechts en links
    background-image: url("../Images/Icons/"),url("../Images/Icons/");
   background-position: center left, center right;
background-repeat: no-repeat;
    */
}

#big_wrapper{
    max-width: 1000px;
    margin: 20px 0px;
    display:-webkit-box;
    -webkit-box-orient:vertical;
    border: 0px solid black;
    -webkit-box-flex: 1; /*1 = flexibel en 0 = gefixeerd*/
    padding: 20px;
}
#top_header{
    background:black;
    max-width:860px;
    margin:10px auto;
    padding:5px;
    display:-webkit-box;
    -webkit-border-radius: 5px;

}
#header{/*settings for header picture*/
    display: inline-block;
    vertical-align: middle;
    max-height: 100%;
    max-width: 100%;
}
#new_div{
    display:-webkit-box;
    -webkit-box-orient:horizontal;
}
#main_section{
    /*border:1px solid blue;*/
    -webkit-box-flex: 1;
}
#the_footer{
    text-align:center;
    padding:20px;
    /*border-top: 2px solid green;*/
}
article{
    padding: 10px;
    margin:5px;
    overflow:hidden;
}
.image{
    max-width: 100%;
    max-height: 100%;
}
article footer{
    text-align: right;
    font-style: italic;
}
.workshop{
    background: black;
    height:290px;
    width:290px;
    margin:10px;
    float:left;
    padding:5px;
    -webkit-border-radius: 5px;

}
.standardframe{
    background: black;
    min-height:290px;
    width:90%;
    margin:auto;
    padding:5px;
    -webkit-border-radius: 5px;
}
.innerFrame{
     background:lightblue;
    min-height:270px;
    margin:  auto;
    padding:10px;
    -webkit-border-radius: 5px;
}
.innerWorkshop{
    background:lightblue;
    height:270px;
    margin:  auto;
    padding:10px;
    -webkit-border-radius: 5px;

}
.innerWorkshop :hover{
    background:lightskyblue;
    background:yellow;
}
.workshop :hover{
    background:lightskyblue;
}
.pdfDownload{
    height:30px;
    margin:5px;
    padding:5px;
    font-size: 30px;
}
#about{
    background:lightblue;
    padding:10px;
    padding-bottom:15px;
    border:2px solid black;
    -webkit-border-radius: 3px;
}

