*{
    margin:0px;
    padding:0px;
}
/*standard text formatting*/
h1{
    font: bold 20px Tahoma;    
}
h2{
    font: bold 14px Tahoma;
}
#indexText{

    font:normal 20px Tahoma;
    /*    font-size:20px;*/
}
#Over_mij{
    color:black;
    text-decoration: none;
    
}

header, section, footer, aside, nav, article, hgroup{
    display:block;
}
body{
    width:100%;
    display: -webkit-box;
    -webkit-box-pack: center;
    background: white;
}

#big_wrapper{
    max-width: 1000px;
    margin: 20px 0px;
    display:-webkit-box;
    -webkit-box-orient:vertical;
    border: 0px solid black;
    -webkit-box-flex: 1; /*1 = flexibel en 0 = gefixeerd*/
    padding: 20px;
}
#top_header{
    background:black;
    max-width:860px;
    margin:10px auto;
    padding:5px;
    display:-webkit-box;
    -webkit-border-radius: 5px;
    
}
#header{/*settings for header picture*/
      display: inline-block;
  vertical-align: middle;
  max-height: 100%;
  max-width: 100%;
}
.trick {
  display: inline-block;
  vertical-align: middle;
}
#new_div{
    display:-webkit-box;
    -webkit-box-orient:horizontal;
}
#main_section{
    /*border:1px solid blue;*/
    -webkit-box-flex: 1;
}
#the_footer{
    text-align:center;
    padding:20px;
    /*border-top: 2px solid green;*/
}
article{
    padding: 10px;
    margin:5px;
    overflow:hidden;
}
.image{
    max-width: 100%;
    max-height: 100%;
}
article footer{
    text-align: right;
    font-style: italic;
}
.referrals{
    background:#66ffcc;
    margin:20px;
    -webkit-border-radius:3px;
    -webkit-box-shadow: rgba(102,255,204, .7) 10px 10px 15px;
}
.sidebarBox{
    background: aqua;
    width:100%;
    height:20px;
    margin:20px;
    padding:20px;    
    -webkit-border-radius:3px;
    text-align: center;
}
.sidebarBox a{
    font:bold 16px Tahoma;

}
#tarieven{
    margin: 30px;
    padding: 5px;
    background:#CCFFFF;
    -webkit-border-radius: 3px;
}
#tarieven td{
    padding: 2px;
}
.workshop{
    background: black;
    height:290px;
    width:290px;
    margin:10px;
    float:left;
    padding:5px;
    -webkit-border-radius: 5px;

}
.innerWorkshop{
    background:lightblue;
    height:270px;
    margin:  auto;
    padding:10px;
    -webkit-border-radius: 5px;

}
.innerWorkshop :hover{
    background:lightskyblue;
    background:yellow;
}
.workshop :hover{
    background:lightskyblue;
}
.pdfDownload{
    height:30px;
    margin:5px;
    padding:5px;
    font-size: 30px;
}
#about{
    background:green;
    padding:0px;
    border:2px solid black;
    -webkit-border-radius: 3px;
}
.about :hover{
    background:yellow;
}
